@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Shared Styles */

.main-title {
    color: rgba(19, 19, 19, 1);
    font-size: 4rem;
    font-weight: 800;
    font-style: "Work Sans", sans-serif;
}

.sec-title {
    color: rgba(19, 19, 19, 1);
    font-size: 2.4rem;
    font-weight: 800;
    font-style: "Work Sans", sans-serif;
}

.third-title {
    color: rgba(19, 19, 19, 1);
    font-size: 20px;
    font-weight: 600;
    font-style: "Work Sans", sans-serif;
}


.thirds-title {
    color: rgba(19, 19, 19, 1);
    font-size: 40px;
    font-weight: 400;
    font-style: "Work Sans", sans-serif;
    width: 468px;
}

.display-flex {
    display: flex;
}

.sec-para {
    color: rgba(114, 114, 114, 1);
    font-size: 20px;
    font-weight: 400;
    font-style: "Work Sans", sans-serif;
    line-height: 26px;
}

.secs-para {
    color: rgba(114, 114, 114, 1);
    font-size: 16px;
    font-weight: 400;
    font-style: "Work Sans", sans-serif;
    line-height: 26px;
    margin: 20px 0px 24px 0px;
    
}


.btn-primary {
    background-color: rgba(255, 144, 14, 1);
    padding: 15px 25px;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
}

/* Header Start From Here */

.main-header {
    background-color: rgba(255, 144, 14, 0.1);
   
    margin: 0px 0px 52px 0px;
    padding-top: 30px;
}


.main-header ul {
    list-style: none;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.main-nav {
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0px auto 0px auto;
   
}

.banner-content {
    max-width: 1440px;
    margin: 0px auto;
    text-align: center;
}

.banner-content h1 {
    max-width: 862px;
    margin: 0px auto;
    text-align: center;
    margin-top: 102px;
    margin-left: auto;
    margin-right: auto;
}

.banner-content p {
    max-width: 862px;
    margin: 0px auto;
    text-align: center;
    margin: 34px auto;
}

.banner-content img {
    width: 100%;
    margin: 0px auto 44px auto;
}

.new-button {
    margin-bottom: 51px;
}

/* mobile header responsive */

@media screen and (max-width: 576px) {
    .main-nav {
        flex-direction: column;
    }

    .banner-content img {
  padding: 0px 15px 0px 15px;
}
}


/* features section starts here */

.features-new {
    max-width: 1440px;
    margin: 0px auto;
}

.features-new .fatures-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.chld-features {
    align-items: center;
    justify-content: center;
    gap: 73px;
    padding: 10px;
}

.chld-features p {
    max-width: 537x;
    margin: 24px auto 32px auto;
}

@media screen and (max-width: 576px) {
    .chld-features {
        flex-direction: column;
    }

    .features-new .fatures-grid {
    grid-template-columns: repeat(1, 1fr);
}


.thirds-title {
    width: 100%;
}

.chld-features p {
    width: 100%;
}

.features-content-section {
    padding: 0px 10px 10px 10px;
}
    
}

/*secondary features starts from here*/


.seceondary-featues {
    max-width: 1440px;
    margin: 130px auto 100px auto;
}

.benefits-grids {
    width: 586px;
    height: 181px;
    padding: 20px;
   border-radius: 8px;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
background: rgb(255, 255, 255);
    align-content: center;
}


.sec-feat {
    gap: 54px;
}

.title-bar {
    padding: 20px 20px 20px 20px;
    border-left: 3px solid orange;
}

.secon-paraa {
    margin: 10px 0px 0px 0px;
}

.feartu-grids {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
}

@media screen and (max-width: 570px) {
    .sec-feat {
    flex-direction: column;
}


.benefits-grids {
    width: 100%;
}

.seceondary-featues img {
    width: 100%;

}

.seceondary-featues {
    padding: 15px;
}

}

/* some facts starts from here */

.some-facts {
    max-width: 1440px;
    margin: 0px auto;
}

.some-facts .single-card {
    height: 241px;
    width: 241px;
    border: 2px solid orange;
    align-content: center;
    text-align: center;
    border-radius: 8px;
}

.some-facts .single-card h3 {
    font-size: 45px;
    font-weight: 600;
    color: rgba(66, 66, 66, 1);
    margin: 10px 0px 5px 0px;
    rgba(114, 114, 114, 1)
}

.some-facts .single-card p {
    font-size: 20px;
    font-weight: 600;
    color: rgba(114, 114, 114, 1);
    
}

.ben-card {
    gap: 110px;
    padding: 100px 50px;
}

@media screen and (max-width: 576px) {
    .ben-card {
    text-align: center;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 20px 20px !important;
}

.some-facts {
    padding: 20px;
}
}

/* logo card starts from here */

.logo-card {
    max-width: 1440px;
    margin: 0px auto 130px auto;
    text-align: center;
}

.logo-crad-section img {
    mix-blend-mode: luminosity;
        filter: grayscale(100%);
}

.logo-crad-section {
    display: grid;
        text-align: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    justify-items: center;
}

@media screen and (max-width: 570px) {
    .logo-crad-section {
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin-top: 50px;
    padding: 10px 10px 10px 25px;
            row-gap: 20px;
            justify-items: center;
}
    
}

footer {
    max-width: 1440px;
    height: 100px;
    background-color: #FFF4E7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}

@media screen and (max-width: 570px) {
   footer {
   padding: 30px;
}
    
}

